/* Variables */
:root {
    --main-dark-color: #1A1A1D;
    --main-color: #76ABAE;
    --main-light-color: #fafafa;

    --main-red-live: #ff3264;
    --main-yellow-live: #ffff00;
    --main-cyan-live: #00ffff;
    --main-violet-live: #af5aff;
}

/* Reset & General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-light-color);
    font-family: "Barlow", sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Header */
.header__nav {
    background-color: var(--main-dark-color);
    padding: 1em 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 70px;
}

.header__menu {
    list-style: none;
    display: flex;
    gap: 1em;
}

.header__link {
    color: var(--main-light-color);
    font-size: 1.2rem;
    transition: color 0.3s;
}

li:nth-child(1) > a:hover {
    color: var(--main-red-live);
}

li:nth-child(2) > a:hover {
    color: var(--main-yellow-live);
}

li:nth-child(3) > a:hover {
    color: var(--main-cyan-live);
}

li:nth-child(4) > a:hover {
    color: var(--main-violet-live);
}

li:nth-child(5) > a:hover {
    color: var(--main-red-live);
}

/* Banner */
.banner {
    position: relative;
    text-align: center;
}

.banner__image {
    width: 100%;
}

.banner__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-light-color);
}

/* Main Content */
.section {
    margin: 2em 0;
    text-align: center;
}

.section__title {
    font-size: 1.5rem;
}

.games {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__image {
    width: 350px;
}

.game__title {
    text-align: left;
    margin-top: 0.5em;
}

.button {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    font-size: 1rem;
    background-color: var(--main-color);
    color: var(--main-light-color);
    border-radius: 5px;
}

.button--more:hover {
    background-color: var(--main-dark-color);
}

/* Footer */
.footer {
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    padding: 2em 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__right {
    font-size: 1.2em;
    text-align: right;
}

.footer__right a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    margin-bottom: 0.5em;
}

.footer__right a img {
    width: 20px;
    height: auto;
}

.footer__logo {
    width: 100px;
}

.footer__socials {
    display: flex;
    gap: 1em;
}

.footer__social {
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.footer__social:hover:nth-of-type(1) {
    background-color: #ff3264;
}

.footer__social:hover:nth-of-type(2) {
    background-color: #ffff00;
}

.footer__social:hover:nth-of-type(3) {
    background-color: #00ffff;
}

.footer__social img {
    width: 25px;
    filter: invert(100%);
}

.footer__social:hover img {
    filter: invert(0%);
}

.footer__title {
    font-size: 1.8rem;
}


.footer__contact {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
}

.footer__contact img {
    width: 20px;
    margin-right: 0.5em;
    filter: invert(100%);
}

.footer__divider {
    margin: 1em 0;
    border: none;
    width: 100%;
    height: 1px;
    background-color: var(--main-light-color);
}

.footer__copyright {
    width: 100%;
    text-align: center;
    color: var(--main-light-color);
}