/* Variables */
:root {
    --main-dark-color: #141416;
    --alt-dark-color: #000000;
    --main-light-color: #fafafa;

    --main-red-live: #ff3264;
    --main-yellow-live: #ffff00;
    --main-cyan-live: #00ffff;
    --main-violet-live: #af5aff;
}

/* Reset & General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--alt-dark-color);
    font-family: "Barlow", sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    font-style: normal;
    color: var(--main-light-color);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.main-offset {
    padding-top: 100px;
}

/* Header */
.header__nav {
    background-color: var(--main-dark-color);
    padding: 20px 0px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header__nav::after, .banner::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(
        to right,
        var(--main-red-live) 25%,
        var(--main-yellow-live) 25%,
        var(--main-yellow-live) 50%,
        var(--main-cyan-live) 50%,
        var(--main-cyan-live) 75%,
        var(--main-violet-live) 75%
    );
    background-size: 200% 100%;
    animation: borderRotate 24s linear infinite;
    border-radius: 20px;
}

.banner::after {
    animation: borderRotateAlt 24s linear infinite;
}

@keyframes borderRotate {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 200% 100%;
    }
}

@keyframes borderRotateAlt {
    0% {
        background-position: 200% 100%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.header__nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__logo {
    height: 50px;
}

.header__nav__menu {
    list-style: none;
    display: flex;
    gap: 1em;
}

.header__nav__link {
    color: var(--main-light-color);
    font-size: 1.15rem;
    transition: color 0.3s;
}

li:nth-child(1) > a:hover {
    color: var(--main-red-live);
}

li:nth-child(2) > a:hover {
    color: var(--main-yellow-live);
}

li:nth-child(3) > a:hover {
    color: var(--main-cyan-live);
}

li:nth-child(4) > a:hover {
    color: var(--main-violet-live);
}

li:nth-child(5) > a:hover {
    color: var(--main-red-live);
}

/* Banner */
.banner {
    position: relative;
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://img.itch.zone/aW1nLzEyMTU0MjYwLnBuZw==/original/Mx4h3G.png);
}

.banner__image {
    padding-top: 90px;
    height: 100%;
}

.banner__text {
    position: absolute;
    text-align: center;
    font-size: 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-light-color);
}

.banner__title--red {
    color: var(--main-red-live);
}

.banner__title--yellow {
    color: var(--main-yellow-live);
}

.banner__title--cyan {
    color: var(--main-cyan-live);
}

.banner__title--violet {
    color: var(--main-violet-live);
}

/* Main Content */
.section {
    margin: 2em 0;
    text-align: center;
}

.section__title {
    font-size: 2rem;
}

.games {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__image {
    width: 350px;
}

.game__title {
    text-align: left;
    margin-top: 0.5em;
}

.button--link {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    font-size: 1rem;
    color: var(--main-dark-color);
    border-radius: 5px;
    animation: backgroundColorCycle 5s linear infinite;
    transition: background-color 0.3s ease;
}

.button--link:hover {
    animation: none;
    transition: background-color 0.3s ease;
    background-color: var(--main-light-color);
}

@keyframes backgroundColorCycle {
    0% {
        background-color: var(--main-red-live);
    }
    25% {
        background-color: var(--main-yellow-live);
    }
    50% {
        background-color: var(--main-cyan-live);
    }
    75% {
        background-color: var(--main-violet-live);
    }
    100% {
        background-color: var(--main-red-live);
    }
}

.cards {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding: 20px 5px;
    width: 100%;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.cards::-webkit-scrollbar {
    width: 8px;
    height: 8px; 
}

.cards::-webkit-scrollbar-track {
    background-color: transparent;
}

.cards::-webkit-scrollbar-thumb {
    background-color: var(--main-yellow-live);
    border-radius: 4px;
}

.card {
    flex: 0 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 250px;
    background-color: var(--main-dark-color);
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    color: inherit;
    scroll-snap-align: start;
    padding: 7px;
    transition: transform 0.3s;
    scrollbar-color: var(--main-yellow-live) transparent;
}

.card:hover {
    outline: 2px solid;
    outline-offset: -2px;
    animation: borderColorCycle 3s infinite;
}

.card__image {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.card__title {
    margin: 5px 0;
    font-size: 1.5rem;
    color: var(--main-light-color);
}

.card__description {
    font-size: 0.9rem;
    color: var(--main-light-color);
}

@keyframes borderColorCycle {
    0% {
        outline-color: var(--main-red-live);
    }
    25% {
        outline-color: var(--main-yellow-live);
    }
    50% {
        outline-color: var(--main-cyan-live);
    }
    75% {
        outline-color: var(--main-violet-live);
    }
    100% {
        outline-color: var(--main-red-live);
    }
}

/* Page Actividad */
.activity,
.talks {
    margin-bottom: 40px;
}

.activity__title,
.talks__title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.activity__card {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}

.activity__card-image {
    max-width: 150px;
    height: auto;
    flex-shrink: 0;
}

.activity__card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.activity__card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.activity__card-description {
    font-size: 1rem;
    color: #666;
}

.activity__card-link {
    color: #0066cc;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.activity__card-link img {
    width: 20px;
    height: 20px;
}

.talks__videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.talks__video {
    width: 100%;
    height: auto;
}

/* Footer */
.footer {
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    padding-top: 2em;
    padding-bottom: 1em;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.footer__right {
    display: grid; /* Activa Grid en el contenedor */
    grid-template-columns: repeat(2, auto); /* Dos columnas para las primeras dos imágenes */
    grid-template-rows: auto auto; /* Dos filas: una para las imágenes en la primera fila y otra para la última imagen */
    gap: 10px; /* Espacio entre las imágenes */
    justify-items: center; /* Centra los elementos dentro de las celdas del grid */
}

.footer__logo {
    height: 60px; /* Ajusta el ancho según sea necesario */
    width: auto; /* Mantiene la relación de aspecto */
}

.caeti {
    width: 120px; /* Ancho específico para la imagen CAETI */
    height: auto;
    grid-column: 1 / -1; /* Hace que esta imagen ocupe toda la segunda fila */
    justify-self: center; /* Centra la imagen en su celda */
}

.footer__socials {
    display: flex;
    gap: 0.5em;
}

.footer__social {
    width: 25px;
    height: 25px;
    margin-top: 8px;
    padding: 1px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.footer__social:hover:nth-of-type(1) {
    background-color: var(--main-violet-live);
}

.footer__social:hover:nth-of-type(2) {
    background-color: var(--main-red-live);
}

.footer__social:hover:nth-of-type(3) {
    background-color: var(--main-cyan-live);
}

.footer__social img {
    width: 20px;
    height: 20px;
    margin: auto;
    filter: invert(100%);
    display: inline-block;
}

.footer__social:hover img {
    filter: invert(0%);
}

.footer__title {
    font-size: 1.5rem;
}

.footer__contact, .footer__text {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
}

.footer__contact:hover {
    color: var(--main-yellow-live);
    text-decoration: underline;
}

.footer__contact img {
    width: 20px;
    margin-right: 0.5em;
    filter: invert(100%);
}

.footer__divider {
    margin: 1em 0;
    border: none;
    width: 100%;
    height: 1px;
    background-color: var(--main-light-color);
}

.footer__copyright {
    width: 100%;
    text-align: center;
    color: var(--main-light-color);
}

/* Media Querys */
@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    .header__nav__menu {
        display: none;
        flex-direction: column;
        padding: 20px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--main-dark-color);
        text-align: center;
    }

    .header__nav__link {
        font-size: 1.3rem;
    }

    .header__nav__menu.show {
        display: flex;
    }

    .header__nav__toggle {
        display: inline-block;
        margin-top: -5px;
        font-size: 3rem;
        cursor: pointer;
        color: var(--main-light-color);
    }

    .banner {
        height: 80vh;
    }

    .banner__text {
        font-size: 1.15em;
    }

    .footer {
        padding-top: 1em;
    }

    .footer__container {
        text-align: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__right{
        margin-top: 2em;
    }
}