.contact_links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 10px;
  
  @include responsive(){
    gap: 0px;

  }
}

.contact__link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $main-light-color;
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 10px;
  
  @include responsive(){
    width: 100%;
    justify-content: center;
  }


  &:hover {
    text-decoration: underline;
    color: $main-yellow-live;
  }
}

.contact__icon {
  width: 24px;
  height: 24px;
  filter: invert(100%);
}

.contact__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.contact__label {
  font-size: 1.1rem;
  color: $main-light-color;
}

.contact__input {
  width: 100%;
  padding: 10px;
  border: 1px solid $main-light-color;
  color: $main-light-color;
  border-radius: 5px;
  font-size: 1rem;
  background-color: $main-dark-color;
}

.contact__textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid $main-light-color;
  color: $main-light-color;
  border-radius: 5px;
  font-size: 1rem;
  background-color: $main-dark-color;
  resize: vertical;
}

.contact__button {
  background-color: $main-light-color;
  color: $main-dark-color;
  border: none;
  padding: 10px 15px;
  margin-top: 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $main-violet-live;
  }
}

.location__map {
  margin-top: 15px;
  width: 100%;
  max-width: 800px;
  height: 450px;
  border: none;
}