.footer {
  background-color: $main-dark-color;
  color: $main-light-color;
  padding-top: 2em;
  padding-bottom: 1em;
  @include responsive(){
    padding-top: 1em;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  @include responsive(){
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer__right {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto;
  gap: 10px;
  justify-items: center;
  @include responsive(){
    margin-top: 2em;
  }
}

.footer__logo {
  height: 60px;
  width: auto;
}

.caeti {
  width: 120px;
  height: auto;
  grid-column: 1 / -1;
  justify-self: center;
}

.footer__socials {
  display: flex;
  gap: 0.5em;
}

.footer__social {
  width: 25px;
  height: 25px;
  margin-top: 8px;
  padding: 1px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;

  &:hover {
    &:nth-of-type(1) {
      background-color: $main-violet-live;
    }

    &:nth-of-type(2) {
      background-color: $main-red-live;
    }

    &:nth-of-type(3) {
      background-color: $main-cyan-live;
    }
  }

  img {
    width: 20px;
    height: 20px;
    margin: auto;
    filter: invert(100%);
    display: inline-block;
  }

  &:hover img {
    filter: invert(0%);
  }
}

.footer__title {
  font-size: 1.5rem;
}

.footer__contact,
.footer__text {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.footer__contact {
  &:hover {
    color: $main-yellow-live;
    text-decoration: underline;
  }

  img {
    width: 20px;
    margin-right: 0.5em;
    filter: invert(100%);
  }
}

.footer__divider {
  margin: 1em 0;
  border: none;
  width: 100%;
  height: 1px;
  background-color: $main-light-color;
}

.footer__copyright {
  width: 100%;
  text-align: center;
  color: $main-light-color;
}